{
    "printWidth": 120,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "overrides": [
        {
            "files": [
                "quartz/**/*",
                "globals.d.ts"
            ],
            "options": {
                "tabWidth": 2,
                "printWidth": 80
            }
        },
        {
            "files": "*.canvas",
            "options": {
                "parser": "json"
            }
        },
        {
            "files": "*.base",
            "options": {
                "parser": "yaml"
            }
        }
    ]
}
